$landingSite-bg: #5dcfa1;
$landingSite-text-main: #ffffff;
$landingSite-text-second: #000000;
$landingSite-button-bg: rgba(
	$color: #000000,
	$alpha: 0.2,
);
$landingSite-button-bg-hovered: rgba(
	$color: #000000,
	$alpha: 0.5,
);
$landingSite-button-text: #ffffff;
