$allGists_nav_bg: #5dcfa1;
$allGists_nav_text: #ffffff;
$allgists_nav_leftArrow: #ffffff;

$allgists_nav_button_bg: #036666;
$allgists_nav_button_text: #ffffff;

$allgists_nav_button_bg_hovered: #358f80;
$allgists_nav_button_text_hovered: #ffffff;
